body, html {
	margin:0px;
	padding:0px;
}

#maket {
	width:1200px;
	margin:0 auto;
}

#header{
	background-color:#C0C000;
}

#left{
	background-color:#00C0C0;
	width:200px;
	float:left;
}

#content{
	background-color:#8080FF;
	margin-left:202px;
}
#content_player{
	background-color: #ffd6a8;
	margin-left:202px;
}
#content_description{
	background-color: #ffaaea;
	margin-left:202px;
}

#footer{
	background-color:#FFC0FF;
	clear:both;
}